.comment_content {
	border: none;
	background-color: rgb(204, 241, 251);
	border-radius: 10px;
	padding: 10px;
}

.comment {
	padding: 20px;
	background-color: rgb(0, 182, 232);
	border-radius: 10px;
	margin-bottom: 5px;
}

.edit_button {
	border-radius: 5px;
	background-color: white;
	border: none;
	cursor: pointer;
}
