.card-link {
	float: left;
	margin: 5px;
	cursor: pointer;
}

.no_title {
	font-size: 20px;
}

.results {
	position: relative;
	top: 160px;
}

.post_container {
	margin: 10px;
}

.post {
	border: none;
	height: 100px;
}




