.wrapper {
	min-height: 100%;
  margin-bottom: -50px;
  margin-top: 70px;
}

.search_wrapper {
	position: relative;
}

.search_wrapper #results {
	position: absolute;
	top: 0;
	z-index: 3;
}

i {
	cursor: pointer;
}

.nav-link {
	margin: 7px;
}

.navbar {
	background-color: white;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

nav ul {
	float: right;
	padding: 15px;
	z-index: 3;
}

#logo_nav {
	float: left;
	height: 85px;
	margin: 10px;
	z-index: 3;
}

.nav_back {
	opacity: 0.5;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: -1;
}

.round {
	border-radius: 50px;
}


/***************Forms***********/

.spaceing {
	margin-top: 150px;
}

.search {
	margin-top: 200px;	
	position: relative;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 2px solid #f48fb1;
    box-shadow: 0 2px 0 0 #f48fb1;
    margin-top: -10px;
}

.active-pink-2 {
	margin-top: 60px;
}

.find {
	color: white;
}

/***********New Post***********/

.post_container {
	margin: 10px;
}

.post {
	border: none;
	height: 100px;
}

.post:focus {
	border: 2px solid black;
	height: 100px;
}

.blue {
	position: absolute;
	background-color: rgb(0,156, 177);
	height: 500px;
	width: 100%;
	top: 0;
}

/**********Posts********/

.card-link {
	float: left;
	margin: 5px;
}

i p {
	float: right;
	margin-left: 10px;
}

.edit_button {
	position: absolute;
	bottom: 10px;
	right: 100px;
}

.no_title {
	font-size: 20px;
}

.results {
	position: relative;
	top: 160px;
}

/**********Welcome Page**********/

.feed {
	margin-top: 50px;
}
